[submodule "stb"]
	path = stb
	url = ../../nothings/stb.git
[submodule "common/heatshrink"]
	path = common/heatshrink
	url = ../../atomicobject/heatshrink.git
[submodule "unit_test/doctest"]
	path = unit_test/doctest
	url = ../../doctest/doctest.git
	branch = master
